.btn {	
    font-size: 30px;
    align-content: center;
    width: 250px;
    height: 55px;
    border: 2px solid #eee;
    background-color: #006400;
    color: orange;    
    margin-left: 37%;
    margin-top: 45%;
    
}
